{% extends 'base_dashboard.html' %}

{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}

{% block content %}

  <div class="content">
    {% include 'inventory/entity/nodes.html' %}

    {% bootstrap_messages %}
    <div class="col-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title">Room</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive" style="overflow:auto;">
              <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" type="submit" style="position:absolute;">Add Room</button>

              </form>
              <div class="next" style="position:absolute; right:3vh; font-size:2vh;margin-top:2vh;">
               <a href="{% url 'add_element' entity_id %}">
                 Add elements
                 <img src="{% static 'vendor/img/arrow.png' %}" style="width:3vh;" alt="Description of the image">
               </a>
             </div>
               </form>
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Floor</th>
              <th>QR Code</th>
              <!-- Add more columns as needed -->
            </tr>
          </thead>
          <tbody>
            {% for room in rooms %}
            <tr>
              <td>{{ room.name }}</td>
              <td>{{ floor.description }}</td>
              <td>{{ room.floor }}</td>
              <td> <img src="{{ room.qr_code_image.url }}" style="width: 50px;" alt="QR Code">
                <br>
              <a href="{{ room.qr_code_image.url }}" download>Download here</a>
              </td>
                
              <!-- Populate additional columns as required -->
            </tr>
            {% empty %}
            <tr>
              <td colspan="2">No rooms found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



{% endblock %}