{% extends 'base_dashboard.html' %}

{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}

  <div class="content">
    <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Register Entity</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive" style="overflow:auto;">
              <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" type="submit">Register Entity</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}