.small {
    font-size: 30px;
  }

  .form-check .form-check-label{
      color:white;
      font-size:30px;
  }

  .mb-3{
    padding-top:5vh;
  }

  .form-control{
    width:20%;
  }

  .form-check-input {
    width: 2vh;
  }
  
  .form-label{
    color:white;
    margin-top:2vh;
    font-size:25px;
  }

  input[type="text"] {
    font-size: 30px;
  }

  .entity_delete_settings {
    position: fixed;
    bottom: 10vh;
    margin: 2vh;
  }

.body {
    background-color: #1e1e2f;
}