{% extends 'inventory/data.html' %}

{% block render_one_entity %}

{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link href="{% static 'vendor/css/black-dashboard.css' %}" rel="stylesheet" />
<link href="{% static 'css/one_entity_data.css' %}" rel="stylesheet"/>
        

    <div class="table-responsive" style="overflow:hidden; margin-top:5vh;">

        {% if filter %}
        <form method="GET">
            <div class="row g-3 align-items-center">
                <div class="col-md-2">
                    <div class="form-group">
                        {% bootstrap_field filter.form.name %}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {% bootstrap_field filter.form.category %}
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="form-group">
                        {% bootstrap_field filter.form.floor_number %}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {% bootstrap_field filter.form.room_name %}
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="form-group">
                        {% bootstrap_field filter.form.building_name %}
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary form-control;" style="margin-top: 1vh; width:100%; height:20%;">Apply Filter</button>
                </div>
            </div>
        </form>
        {% endif %}
        

        <h2 class="collapsible-heading" data-bs-toggle="collapse" data-bs-target="#element-table" style="margin-top:3vh;">
            <a href="#element-table" style="text-decoration: none;">Elements 
                <i class="arrow-icon collapsed fas fa-chevron-down"></i>
            </a>
        </h2>
        <div id="element-table" class="collapse show">
            {% if elements %}
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10%;">Element Name</th>
                        <th style="width: 10%;">Cantity</th>
                        <th style="width: 10%;">Category</th>
                        <th style="width: 10%;">Floor</th>
                        <th style="width: 15%;">Room</th>
                        <th style="width: 15%;">Building</th>
                        <th style="width: 20%;">QR Code</th>
                        <th style="width: 5%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in elements|dictsort:"name" %}
                    <tr>
                        <td><a href="{% url 'element_detail' element.qr_code %}">{{ element.name }}</a></td>
                        <td>{{ element.cantity|default:"-" }}</td>
                        <td>{{ element.category|default:"-" }}</td>
                        <td>{{ element.room.floor.number }}</td>
                        <td>{{ element.room.name }}</td>
                        <td>{{ element.room.floor.building.name }}</td>
                        <td style="text-align: center;">
                            <img src="{{ element.qr_code_image.url }}" alt="QR Code" style="width:5vh;">
                            <br>
                            <a href="{{ element.qr_code_image.url }}" download>Download here</a>
                        </td>
                        <td style="text-align: right;">
                            <div class="p-1">
                                <a href="{% url 'edit_element' element.id %}" style="margin-right: 5px;"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'delete_element' element.id %}"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No elements yet.</p>
            {% endif %}
            <div style="display: flex; justify-content: center;">
                <a href="{% url 'add_element' entity.id %}">
                    <i class="fas fa-plus-circle"></i> 
                Add new element</a>
            </div>
        </div>
    </div>



    <div class="table-responsive" style="overflow:hidden;">
        <h2 class="collapsible-heading" data-bs-toggle="collapse" data-bs-target="#room-table">
            <a href="#room-table" style="text-decoration: none;">Rooms
            <i class="arrow-icon collapsed fas fa-chevron-down"></i>
        </h2>
        <div id="room-table" class="collapse">
            <table class="table table-striped table-hover table-bordered">
                {% if rooms %}
                <thead>
                <tr>
                    <th style="width: 10%;">Room Name</th>
                    <th style="width: 20%;">Floor</th>
                    <th style="width: 30%;">Building</th>
                    <th style="width: 20%;">QR Code</th>
                    <th style="width: 5%;">Actions</th>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <td><a href="{% url 'room_detail' room.qr_code %}">{{ room.name }}</a></td>
                    <td>{{ room.floor }}</td>
                    <td>{{ room.floor.building }}</td>
                    <td style="text-align: center;">
                        <img src="{{ room.qr_code_image.url }}" style="width:5vh;" alt="QR Code">
                        <br>
                        <a href="{{ room.qr_code_image.url }}" download>Download here</a>
                    </td>
                    <td style="text-align: right;">
                        <div class="p-1">
                            <a href="{% url 'edit_room' room.id %}" style="margin-right: 5px;"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'delete_room' room.id %}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                {% empty %}
                <tr>
                    <td colspan="5">No rooms yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="display: flex; justify-content: center;">
            <a href="{% url 'add_room' entity.id %}">
                <i class="fas fa-plus-circle"></i> 
            Add new room</a>
        </div>
    </div>
    </div>

    

  <div class="table-responsive" style="overflow:hidden;">
    <h2 class="collapsible-heading" data-bs-toggle="collapse" data-bs-target="#floor-table">
        <a href="#floor-table" style="text-decoration: none;">Floors
            <i class="arrow-icon collapsed fas fa-chevron-down"></i>
    </h2>
    <div id="floor-table" class="collapse">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                {% if floors %}
                <tr>
                    <th style="width: 10%;">Floor Number</th>
                    <th style="width: 20%;">Building</th>
                    <th style="width: 40%;">Building Description</th>
                    <th> </th>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% for floor in floors|dictsort:"number" %}
                <tr>
                    <td>{{ floor.number }}</td>
                    <td>{{ floor.building.name }}</td>
                    <td>{{ floor.building.description }}</td>
                    <td style="text-align: right;">
                        <div class="p-1">
                            <a href="{% url 'edit_floor' floor.id %}" style="margin-right: 5px;"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'delete_floor' floor.id %}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <td colspan="5">No floors yet.</td>
                {% endfor %}
            </tbody>
        </table>
        <div style="display: flex; justify-content: center;">
                <a href="{% url 'add_floor' entity.id %}">
                    <i class="fas fa-plus-circle"></i>Add new floor</a>
        </div>
     </div>
    </div>

    <div class="table-responsive" style="overflow:hidden;">
        <h2 class="collapsible-heading" data-bs-toggle="collapse" data-bs-target="#building-table">
            <a href="#floor-table" style="text-decoration: none;">Buildings
                <i class="arrow-icon collapsed fas fa-chevron-down"></i>
        </h2>
        <div id="building-table" class="collapse">
            <table class="table table-striped table-hover table-bordered">
            <thead>
                {% if buildings %}
                <tr>
                    <th style="width: 10%;">Building Name</th>
                    <th style="width: 30%;">Description</th>
                    <th> </th>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% for building in buildings|dictsort:"name" %}
                <tr>
                    <td>{{ building.name }}</td>
                    <td>{{ building.description }}</td>
                    <td style="text-align: right;">
                        <div class="p-1">
                            <a href="{% url 'edit_building' building.id %}" style="margin-right: 5px;"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'delete_building' building.id %}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <td colspan="5"> No buildings yet.</td>
                {% endfor %}
            </tbody>
        </table>
            <div style="display: flex; justify-content: center;">
                <a href="{% url 'add_building' entity.id %}">
                    <i class="fas fa-plus-circle"></i>Add new building</a>
            </div>
    </div>
</div>

</div>

{% endblock %}