{% extends 'base_dashboard.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class="content" style="margin-left:2%;">
        <h2>Delete Room</h2>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="{% url 'data' object.id %}" class="btn btn-secondary">No, take me back</a>
        </form>
    </div>
{% endblock %}